.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

.card {
  background-color: #D2B48C;
  margin: 20px;
  padding: 30px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}
